@page "/weather"
@rendermode InteractiveServer

@inject IHttpClientFactory ClientFactory 

<PageTitle>Exercises</PageTitle>

<p>@exercise</p>
<button class="btn btn-primary" @onclick="OnRefreshClicked">Refresh</button>

@code {
    private string? exercise;

    protected override async Task OnInitializedAsync()
    {
        await GenerateNewExercise();
    }

    private async Task OnRefreshClicked()
    {
        await GenerateNewExercise();
    }

    private async Task GenerateNewExercise()
    {
        using var request = new HttpRequestMessage(HttpMethod.Get, "http://localhost:5000/scale/exercise");
        var client = ClientFactory.CreateClient();

        using var response = await client.SendAsync(request);
        var content = await response.Content.ReadAsStringAsync();
        exercise = content;
    }
}
