@page "/weather"
@rendermode InteractiveServer

@inject IConfiguration Configuration
@inject IHttpClientFactory ClientFactory 

<PageTitle>Exercises</PageTitle>

<p>@exercise</p>
<button class="btn btn-primary" @onclick="OnRefreshClicked">Refresh</button>

@code {
    private string? exercise;
    private string scalesApiAddress = "";

    protected override async Task OnInitializedAsync()
    {
        scalesApiAddress = Configuration.GetSection("ApiAddresses").GetValue<string>("ScalesApi") ?? "";
        await GenerateNewExercise();
    }

    private async Task OnRefreshClicked()
    {
        await GenerateNewExercise();
    }

    private async Task GenerateNewExercise()
    {
        using var request = new HttpRequestMessage(HttpMethod.Get, scalesApiAddress + "/scale/exercise");
        var client = ClientFactory.CreateClient();

        using var response = await client.SendAsync(request);
        var content = await response.Content.ReadAsStringAsync();
        exercise = content;
    }
}
